[data-bs-theme="light"] .form-control {
  background-color: #f4e6f5;
}

[data-bs-theme="dark"] .form-control {
  background-color: #423642;
}

.navbar-brand:hover {
  color: var(--bs-secondary-color);
}
